<!--Avances del proyecto-->
<div class="container"> 
    
    <!--<div class="row titulo-mes">Febrero 2018</div>-->
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/img2.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/pdf.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/xls.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/doctor.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
  
    <!--<div class="row titulo-mes">Enero 2018</div>-->
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/img2.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/pdf.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/xls.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    <div class="row align-items-center borde-files">
      <div class="col">
        <a href=""><img src="/assets/images/doctor.png" alt="Imagen"></a>
      </div>
      <div class="col-11">        
        <a href="" class="titulo-file">Titulo de la imagen</a>
        <br>
        <a href="" class="fecha-file">Fecha de la imagen</a>
      </div>
    </div>
    
  </div>  
  <!--Fin Avances del proyecto-->