<div class="container-fluid">    
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                        <h5>Crear nuevo cliente</h5>    
                </div>
                <div class="form-group">
                  <label for="nombre" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                  <label for="ap-paterno" class="col-form-label">Apellido Paterno:</label>
                  <input type="text" class="form-control" id="ap-paterno">
                </div>
                <div class="form-group">
                  <label for="ap-materno" class="col-form-label">Apellido Materno:</label>
                  <input type="text" class="form-control" id="ap-materno">
                </div>
                <div class="form-group">
                  <label for="rfc" class="col-form-label">RFC:</label>
                  <input type="text" class="form-control" id="rfc">
                </div>
                <div class="form-group">
                  <label for="direccion" class="col-form-label">Direccion:</label>
                  <input type="text" class="form-control" id="direccion">
                </div>
                <div class="form-group">
                  <label for="telefono" class="col-form-label">Telefono:</label>
                  <input type="text" class="form-control" id="telefono">
                </div>
                <div class="form-group">
                  <label for="celular" class="col-form-label">Celular:</label>
                  <input type="text" class="form-control" id="celular">
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" class="form-control">
                </div>
              </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>