<div class="container-fluid">
  <div class="row">
    <div class="col p-2 d-flex justify-content-end mr-5">
      <button type="button" class="btn btn-outline-info" [routerLink]="['/inicio/form-cliente']" [queryParams]="{id:0}">Agregar cliente</button>
    </div>
  </div>  
  <div *ngFor="let cliente of clientes" class="row m-2 p-3 mb-1 listado">
    <div class="col color-link" [routerLink]="['/inicio/proyectos']" [queryParams]="{cid:cliente.cliente_id, nombre:cliente.nombre}">{{cliente.nombre}}</div>    
    <div class="col-1 d-flex justify-content-center">      
      <img src="/assets/images/ei-edit.png" class="img-avance" alt="Editar cliente" [routerLink]="['/inicio/form-cliente']" [queryParams]="{cid:cliente.cliente_id, nombre:cliente.nombre}">
    </div>
    <div class="col-1 d-flex justify-content-center">      
      <img src="/assets/images/ei-folder.png" class="img-avance" alt="Proyectos" [routerLink]="['/inicio/proyectos']" [queryParams]="{cid:cliente.cliente_id, nombre:cliente.nombre}">
    </div>    
  </div>
  <div class="loading-indicator" *ngIf="spinner"> 
      <div class="loader"></div>    
  </div>
</div>