<!-- <form #form="ngForm" class="p-0x">
    <div class="modal-tam">
        <input type="file" (change)="detectFiles($event)" #dropFile hidden />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 pb-10x">
                    <h4>Subir avances</h4>
                </div> 
            </div>            
            <div class="row mt-2">
                <div class="col">
                    <div class="border-drop text-center" (drop)="drop($event, 1)" (dragover)="allowDrop($event, 1)" (change)="drop($event, 1)">
                        <img alt="" [src]="fondoUrl" class="image-drop" *ngIf="fondoUrl" />
                        <label *ngIf="!fondoUrl">Arrastre la imagen aquí</label>
                    </div>
                    <button (click)="selectFile(1)" class="mt-2">                        
                        <label class="ml-2">Seleccionar</label>
                    </button> 
                </div>                       
            </div>
            <div class="row mt-3 align-middle text-right">
                <div class="col-12 ">
                    <button type="Submit" class="mx-20x" color="primary" (click)="guardar()" [disabled]="!form.valid || spinner">Guardar</button>
                    <button (click)="cerrarVentana()">Cerrar</button>
                </div>
            </div>
            <div class="loading-indicator" *ngIf="spinner"> 
                <div class="loader" [style.border-top]="spinner ? '14px solid ' + spinnerColor : '14px solid ' + spinnerColor"></div>    
            </div> 
        </div>
    </div>
</form> -->

<div class="container-fluid">
  <div class="row">
    <div class="col p-2 d-flex justify-content-end mr-5">
      <button type="button" class="btn btn-outline-info" [routerLink]="['/inicio/form-cliente']" [queryParams]="{id:0}">Agregar cliente</button>
    </div>
  </div>  
  <div class="row m-2 p-3" style="border-bottom: 1px solid #e5e5e5">
    <div class="col">Regio Traslados Poza Rica</div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" title="Usuarios">
        <img src="/assets/images/user.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" title="Editar" [routerLink]="['/inicio/form-cliente']" [queryParams]="{id:1}">
        <img src="/assets/images/edit.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" title="Proyectos" [routerLink]="['/inicio/proyectos']">
        <img src="/assets/images/folder.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" title="Eliminar">
        <img src="/assets/images/eliminar.png" width="20" height="20" alt="">
      </button>
    </div>
  </div>
</div>

<!-- Fin Moldal crear cliente nuevo -->


<!-- Modal crear usuarios -->
<div class="modal fade bd-example-modal-lg" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="correo@ejemplo.com">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </form>
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-outline-primary">Guardar/Reactivar</button>
          <button type="button" class="btn btn-outline-success">Nuevo Usuario</button>
          <button type="button" class="btn btn-outline-warning">Cancelar/Suspender</button>
          <button type="button" class="btn btn-outline-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal crear usuarios -->


<!-- Modal crear proyecto -->
<div class="modal fade" id="crearProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear Proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="nombreProyecto" placeholder="Nombre del Proyecto...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Grabar</button>
        <button type="button" class="btn btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!--Fin Modal crear proyecto -->


<!-- Modal eliminar cliente -->
<div class="modal fade" id="eliminarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar el cliente?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal eliminar cliente -->