/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'SF UI Display Light','SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 998;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.fixed-top {
  z-index: 999 !important;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

label {
  margin-bottom: unset;
}

.nav-header {
  background-color: #3b78e7 !important;
}

.nav-pills .nav-link {
  color: #000000;
}

.nav-pills .nav-link mat-icon {
  color: #737373;
}

.nav-pills .nav-link.active {
  color: #000000;
  background-color: #ecf1fa;
}

.nav-pills .nav-link.active mat-icon {
  color: #4b84ea;
}

a.nav-link label {
  cursor: pointer;
}

.bg-faded {
  background-color: #fafafa;
}

.modal-login {
  width: 500px;
}

.modal-crear-nosotros {
  width: 1050px;
}


.bg-orange{
  color: #fff !important;
  background-color: #ec8530 !important;
  background-image: none;
  border-color: #ec8530 !important;
}
.bg-orange:hover{
  color: #fff !important;
  background-color: #ec8530 !important;
  border-color: #ec8530 !important;
}
.bg-orange:active{
  color: #ec8530 !important;
  background-color: #fff !important;
  border-color: #ec8530 !important;
}
.bg-orange:focus{ box-shadow: 0 0 0 3px rgba(236, 133, 48, .5)}

.border-drop {  
  width: 100%;
  min-height: 130px;
  border: 1px solid #f2f2f2;
  background: #fafafa;
  color: #b2b2b2;
  font-size: 21px;
  padding: 10px;
  border-radius: 3px;
  line-height: 130px;
}

.image-drop {
  max-width: 450px;
  max-height: 250px;
}
/* Begin Loader */
.loading-indicator {   
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px; /* Negative half of height. */
  margin-left: -50px; /* Negative half of width. */    
}

.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* End Loader */

