<div class="container-fluid">
    <ng-container *ngIf="isAdmin">
        <div class="row navigation-state d-flex align-items-center">
            <div class="col">
                <a class="color-link" routerLink="/inicio/clientes">Clientes</a> / {{nombreCliente}}
            </div>
            <div class="col-2 p-2 d-flex justify-content-end mr-5">
                <button type="button" class="btn btn-outline-info" [routerLink]="['/inicio/form-proyecto']" [queryParams]="{cid: clienteId, nombre: nombreCliente}">Crear proyecto</button>
            </div>
        </div>
    </ng-container>
         
    <div *ngFor="let proyecto of proyectos" class="row m-2 p-3 mb-1 listado">
      <div class="col-1">
          <img src="/assets/images/progress.png" class="img-avance" alt="Ver avances">
      </div>
      <div class="col">            
          <div class="color-link" [routerLink]="['/inicio/avances']" [queryParams]="{cid: proyecto.clienteId, pid: proyecto.proyectoId, nombre: nombreCliente, proyecto: proyecto.nombre}">{{proyecto.nombre}}</div>              
      </div>
      <ng-container *ngIf="isAdmin">
        <div class="col-1 d-flex justify-content-center">
            <img src="/assets/images/ei-cliente.png" class="img-avance" alt="Usuarios" [routerLink]="['/inicio/proyecto-usuarios']" [queryParams]="{cid: clienteId, pid: proyecto.proyectoId, nombre: nombreCliente, proyecto: proyecto.nombre}">
        </div>
        <div class="col-1 d-flex justify-content-center">      
            <img src="/assets/images/ei-edit.png" class="img-avance" alt="Editar proyecto" [routerLink]="['/inicio/form-proyecto']" [queryParams]="{cid: clienteId, pid: proyecto.proyectoId, nombre: nombreCliente,  proyecto: proyecto.nombre}">
        </div>
        <div class="col-1 d-flex justify-content-center" *ngIf="!mostrarUsuario">            
            <img src="/assets/images/ei-delete.png" alt="" class="img-avance" (click)="onPreEliminar(proyecto.proyectoId)">            
        </div>
        <div class="col-2 d-flex justify-content-center" *ngIf="eliminar">                  
            <button class="btn btn-outline-dark btn-sm mr-1" (click)="eliminar=false" (click)="onCancelar()">Cancelar</button>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminar=false" (click)="onEliminar()">Eliminar</button>
        </div>
      </ng-container>      
    </div>
    <div class="loading-indicator" *ngIf="spinner"> 
        <div class="loader"></div>    
    </div>
  </div>