<!-- Listado de clientes -->
<div class="row m-2 p-3" style="border-bottom: 1px solid #e5e5e5">
    <div class="col">Regio Traslados Poza Rica</div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" title="Usuarios" data-toggle="modal" data-target="#crearUsuario">
        <img src="/assets/images/user.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" title="Editar" data-toggle="modal" data-target="#crearEditarCliente">
        <img src="/assets/images/edit.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" title="Proyectos">
        <img src="/assets/images/folder.png" width="20" height="20" alt="">
      </button>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <button type="button" class="btn btn-outline-light" data-dismiss="modal" title="Eliminar" data-toggle="modal" data-target="#eliminarCliente">
        <img src="/assets/images/eliminar.png" width="20" height="20" alt="">
      </button>
    </div>
  </div>
  <!-- Listado de clientes -->
